.blackbg_link {
    color: rgb(172, 255, 255) !important;
}

.blackbg_link:visited {
    color: rgb(255, 155, 255) !important;
}

/* .blackbg_lets_go {
    background-color: black !important;
    color: white !important;
} */

/* * {
    color: white !important;
}

body {
    color: white !important;
}

*:not([style*="background-color: rgb(0, 0, 0);"]) {
    background-color: black !important;
}

*[style*="background-color: rgb(0, 0, 0);"] {
    background-color: pink !important;
}

*[style*="background-color: rgba(0, 0, 0"] {
    background-color: pink !important;
} */

/* *:not([cssText*="background-color: rgb(0, 0, 0);"]) {
    background-color: black !important;
}

*[cssText*="background-color: rgb(0, 0, 0);"] {
    background-color: pink !important;
}

*[cssText*="background-color: rgba(0, 0, 0"] {
    background-color: pink !important;
} */



/* *:not([background-color^="rgba(0, 0, 0"]):not(.blackbg_pass):not(.blackbg_lets_go):not(script):not(noscript):not(style):not(link):not(img):not(video) {
    background-color: black !important;
} */